@model Portail_Emploi_.Models.Candidat

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Candidat</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Prenom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Prenom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Telephone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Telephone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.N_Etude)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.N_Etude)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.N_Experience)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.N_Experience)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.D_Employeur)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.D_Employeur)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CV)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CV)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
